{% extends "base.html" %}


{% block title %} Sign Up {% endblock %}


{% block content %}
<div class="row justify-content-center m-3">
    <div class="col-6">
        <h3 align="center">Sign Up</h3>
        <form method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password1" class="form-control" id="password1" name="password1">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Password Again</label>
                <input type="password2" class="form-control" id="password2" name="password2">
            </div>
            <div align="center">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}